<%=form_with(model:post,url:choose_new_or_edit,local:true)do |f|%>
<%=render 'layouts/error_messages',model: f.object %>

  <div class="post_group">
    <%=f.label :title,"Title"%>
    <%=f.text_field :title,class:'form-control'%>
  </div>

  <div class="post_group">
    <%=f.label :content,"Content"%>
    <%=f.text_field :content,class:'form-control'%>
  </div>

  <div>
    <%= f.label :image %>
    <%= image_tag @post.image.url if @post.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <%=f.submit 'OK!',class:'btn btn-primary btn-block'%>
<% end %>
