<h1>Post info.</h1>
<div class="jumbotron">
	<h1><%= @post.title%></h1>
	<h2>「 <%= @post.content%> 」</h2>
	<div>
		<% if @post.image? %>
		<%= image_tag @post.image.url %>
		<% else %>
		<p class='label label-default'>No Image</p>
		<% end %>
	</div>
	<p><%= link_to 'Back',posts_path,class:"btn btn-primary btn-lg" %>
</div>
<% unless @post.user_id==current_user.id %>
	<% if @favorite.present? %>
		<%= link_to 'お気に入り解除',favorite_path(id: @favorite.id),method: :delete,class:'btn btn-warning btn-lg'%>
	<% else %>
		<%= link_to 'お気に入り登録',favorites_path(post_id: @post.id),method: :post,class:'btn btn-primary btn-lg'%>
	<% end %>
<% end %>
